---
import type { GetStaticPaths } from "astro";
import { getCollection, CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import { Image } from 'astro:assets';

export const getStaticPaths = (async () => {
    const posts = await getCollection("posts");

    const paths = posts.map(post => {
        return { 
            params: {
            slug: post.slug
        },
        props: { post }
        }
    })

    return paths;
})

type Props = {
    post: CollectionEntry<"posts">
}

const {post} = Astro.props
const {Content} = await post.render();
---

<Layout title={post.data.title}>
    <Main>
        <h1 class="my-8 text-4xl font-bold">{post.data.title}</h1>
        <div class="flex justify-center items-center py-8">
            <Image transition:name="image" format="webp" src={post.data.image} alt="Game card image" width="1024" height="616"/>
        </div>
        <div class="flex flex-col">
            <div class="py-6">
                <p>Rating: 4.5 / 5</p>
            </div>
            <div>
            <Content/>
            </div>
        </div>
    </Main>
</Layout>